/* Resize the logo in the top-left corner */
.md-header__button.md-logo {
  width: 110px;      /* Adjust this */
  height: auto;
}

.md-header__button.md-logo img {
  max-height: 110px; /* Adjust this */
  width: auto;
}
@media screen and (min-width: 768px) {
  .md-header__button.md-logo {
    width: 110px;
  }

  .md-header__button.md-logo img {
    max-height: 64px;
  }
}
/* Force logo container and image to desired size */
.md-header__button.md-logo img {
  height: 110px !important;       /* Or whatever you prefer */
  width: auto !important;
  max-height: none !important;
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
  object-fit: contain;
}
.md-hero {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}