 /* ───── Root Theme Variables ───── */
:root { 
  --main-accent-border-color: #e9c152;
  --main-accent-color: #ce9719;
  --main-accent-color-light: #e9c152;
  --main-bg-color: #151515;
  --main-fg-border-color: #272727;
  --main-fg-color: #1a1a1a;
}